.containerQuizz{
    height: 42.9rem;
    background-color: #223245;
}

.numero-pregunta{
    border-bottom: 1px solid white;
}

.numeroPregunta{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 24px;
    margin-left: 40rem;
    color: white;
}

.tituloPregunta{
    font-size: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    text-align: center;
    margin-top: 50px;
}

.eleccionQuizz{
    color: white;
    text-shadow: 1px 1px 3px black;
    background-color: #69a2bc;
    font-size: 3rem;
    width: 22rem;
    height: 10rem;
    margin-left: 270px;
    margin-top: 2rem;
    border: 4px solid white;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
}

.correct{
    background-color: green;
}

.incorrect{
    background-color: red;
}

.contenedorTiempoRestante{
    height: 50px;
    margin-left: 42rem;
    margin-top: 2rem;
}

.tiempoRestante{
    font-size: 26px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    color: white;
}

.botonContinuar{
    width: 160px;
    font-size: 24px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    text-shadow: 1px 1px 3px black;
    background-color: #69a2bc;
    border: 1px solid white;
    padding: 10px;
}

.juego-terminado{
    display: flex;
}

.subcontenedor{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10rem;
    margin-left: 32rem;
}

.puntuacionObtenida{    
    font-size: 70px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    text-shadow: 1px 1px 3px green;
    box-shadow: 5px 5px 10px 10px rgb(25, 120, 25);
}

.botonReinicio{
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(166, 19, 19);
    color: white;
    width: 10rem;
    border: 1px solid white;
    padding: 10px;
    border-radius: 8px;
    margin-top: 2rem;
}


